<%= form_tag("/users", method: "post" ) do %>
    <%= label_tag "user[username]", "Name:" %>
    <%= text_field_tag "user[username]" %>
    <%= label_tag "user[email]", "Email:" %>
    <%= email_field_tag "user[email]" %>
    <%= label_tag "user[password]", "Password:" %>
    <%= password_field_tag "user[password]" %>
    <%= submit_tag "Add" %>
<% end %>

<ul>
    <% if @users; @users.each do |user| %>
    <li><%= user.username %></li>
    <% end; end %>
</ul>